/* airlines */
.banner {
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
  background-image: url("../../public/assets/banner\ home\ fastholidays.jpg");
  height: 100vh;
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.banner__text {
  display: flex;
  /* opacity: 0.7; */
  justify-content: space-between;
  align-items: center;
  max-width: 786px;
  gap: 2rem;
  padding: 1rem;
}

.airlineLogoContainer {
  /* width: 100%; */
  height: auto;
  border: 1px solid #8080803f;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  transition: transform .3s ease-in-out;
}
.airlineLogoContainer:hover{
  transform: scale(1.09);
}

.airlineLogo {
  width: 100%;
  height: 80px;
}

.airlinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
  }
 .createVest {
    background-color: #27debf;
    border: "none";
    color: "black";
    font-weight: "bold";
    padding: "15px 32px";
    text-align: "center";
    display: "inline-block";
    font-size: "16px";
    text-transform: "uppercase";
    margin: "4px 2px";
    cursor: "pointer";
  }
.airlines {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  @media screen and (max-width: 1100px) {
    .banner {
      padding: 3rem 0 2rem 0;
    }
  
    .banner {
      /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
      background-image: url("../../public/assets/banner\ home\ fastholidays.jpg");
      height: 120vh;
    }
  }

  @media screen and (max-width: 950px) {
    .airlines {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (max-width: 786px) {
    .banner__text{
      display: none;
    }
    .banner{
      padding-top: 6rem;
    }
    .airlines {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 580px) {
    .airlines {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }